.contact-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 15px;
    width: 100%;
}

.footer-contact-link {
    color: #000;
    padding-left: 0;
    padding-right: 0;
}

.footer-contact-link:hover {
    color: #a9a9a9;
    text-decoration: none;
}